.App {
  text-align: center;
}

.searchbar-container {
  width: 500px;
  margin: auto;
}

.searchbar-container input {
  width: -webkit-fill-available;
  padding: 8px 16px;
  font-size: 16px;
  height: 32px;
}

.searchbar-container ul {
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #ccc;
  margin: 0;
  padding: 0;
}

.searchbar-container ul li {
  list-style-type: none;
  text-align: left;
  padding: 15px 20px;
  cursor: pointer;
}

.searchbar-container ul li:hover, .hovered {
  background-color: #eee;
}

